@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background-image: url('/texture.gif');
	border: 7px dashed gray;
	min-height: calc(100vh - 6rem);
}

@supports (height: 100dvh) {
	body {
		min-height: calc(100dvh - 6rem);
	}
}
